# Text Methods

In [1]:
import numpy as np
import pandas as pd

In [5]:
names = pd.Series(["sid", "bob", "andrew", 'jose', '5'])

In [6]:
names

0       sid
1       bob
2    andrew
3      jose
4         5
dtype: object

In [7]:
names.str.upper()

0       SID
1       BOB
2    ANDREW
3      JOSE
4         5
dtype: object

In [8]:
names

0       sid
1       bob
2    andrew
3      jose
4         5
dtype: object

In [9]:
names.str.isalpha()

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [10]:
tech_finance = ["GOOG, AAPL, AMZN", "JPM, BAC, GS"]

In [11]:
tech_finance

['GOOG, AAPL, AMZN', 'JPM, BAC, GS']

In [12]:
tickers = pd.Series(tech_finance)

In [13]:
tickers

0    GOOG, AAPL, AMZN
1        JPM, BAC, GS
dtype: object

In [19]:
tickers.str.split(',',expand=True)

       0     1
0   GOOG   JPM
1   AAPL   BAC
2   AMZN    GS

In [22]:
messy_names = pd.Series(["Andrew.   ", "Bob ", "Claire   "])

In [23]:
messy_names

0    Andrew.
1         Bob.
2     Claire
dtype: object

In [26]:
messy_names = messy_names.str.strip()

In [27]:
messy_names

0    Andrew.
1       Bob.
2     Claire
dtype: object

In [29]:
messy_names = messy_names.str.replace('.', '')

In [31]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [30]:
messy_names = pd.Series(["Andrew   ", "bob; ", "Claire   "])

In [33]:
messy_names.apply(cleanup)

0    Andrew
1       Bob
2    Claire
dtype: object